body {
    font-family: Pacifico, cursive;
    text-align: center;
    background-color: #E0FFFF;
    margin: 0;
    padding: 0;
}

.china-header {
    font-family: Rockwell, serif;
    background-color: #FF6F6F;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.left-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.china-flag {
    width: 2.5em;
    height: 2.5em;
    margin-right: 0;
    margin-bottom: 0.3em;
}

.china-text {
    margin: 0;
    font-size: 1em;
    line-height: 1.2;
}

.main-header {
    font-family: Pacifico, cursive;
    background-color: #FFFACD;
    color: black;
    padding: 0.3em;
    text-align: center;
    font-size: 1.2em;
}

.nav-menu {
    display: none;
}

.menu {
    padding: 0;
    text-align: center;
}

.menu li {
    display: block;
    margin: 0.3em 0;
}

.menu li a {
    font-family: Rockwell, serif;
    text-decoration: none;
    background-color: #D8BFD8;
    color: #b695c0;
    border-radius: 0.8em;
    padding: 0.4em;
    display: block;
}

.menu li a:hover {
    background-color: lavender;
    margin-top: -0.1em;
    padding-bottom: 0.7em;
    border-radius: 0.6em;
}

.menu-toggle {
    display: none;
}

.menu-button {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    color: black;
}

#menu-toggle:checked + .nav-menu {
    display: block;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.8em;
}

.container {
    width: 95%;
    max-width: none;
    margin: 0.5em auto;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #2F4F4F;
    font-size: 0.8em;
    background-color: #ADD8E6;
    border: 0.06em solid #B0E0E6;
    border-radius: 0.9em;
}

.container-title {
    font-family: 'Rockwell', serif;
    margin-bottom: 0.6em;
    font-size: 1em;
}

.container p {
    text-align: center;
    line-height: 1.5;
}

.random-image {
    width: 90%;
    max-width: none;
    height: auto;
    margin-top: 0.5em;
    border-radius: 0.6em;
}

.rounded-image {
    border-radius: 0.6em;
}

.footer {
    background-color: #E6E6FA;
    padding: 0.5em;
    text-align: center;
}

.footer-content {
    background-color: #E6E6FA;
    padding: 0.5em;
    border-radius: 0.9em;
    color: #4B0082;
    font-family: 'Rockwell', serif;
    margin: 0.5em auto;
    width: 90%;
    max-width: 50em;
}

@media (min-width: 769px) {
    .menu-toggle, .menu-button {
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .menu {
        text-align: center;
    }

    .menu li {
        display: inline-block;
        margin: 0.3em;
    }

    .menu li a {
        font-size: 1.1em;
        padding: 0.5em;
        border-radius: 1em;
    }

    .containers {
        padding: 1em;
    }

    .container {
        width: 85%;
        max-width: 16em;
        margin: 0.5em auto;
        padding: 0.5em;
        font-size: 0.85em;
    }

    .random-image {
        width: 75%;
        max-width: 11em;
        margin-top: 0.5em;
    }

    .china-header {
        justify-content: space-between;
        padding: 1.5em;
        flex-direction: row;
    }

    .china-flag {
        width: 5em;
        height: 5em;
        margin-right: 0.5em;
        margin-bottom: 0;
    }

    .china-text {
        font-size: 1.8em;
    }

    .main-header {
        font-size: 1.3em;
    }

    .container-title {
        font-size: 1em;
        margin-bottom: 0.8em;
    }

    .footer {
        padding: 0.5em;
    }

    .footer-content {
        padding: 0.5em;
        margin: 0.5em auto;
    }
}
